canvas {
  display: block;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #303030;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: absolute;
  width: 320px;
  padding: 32px;
  opacity: 0.9;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form mat-card-title {
  font-size: 24px;
  margin-bottom: 32px;
}

.submit-button {
  margin-top: 24px;
}
